################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PoderFinanceiro/FileContentIndex/cb9ca99a-ec26-47b9-8c75-8cdff40541ca.vsidx
